<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url('/assets/bannerPic.jpeg');">
  <div class="container">
    <h1>Welcome to Good Doggos</h1>
    <p>Train your dog with ease and expertise</p>

  </div>
</div>
