<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/bannerPic.jpeg');">
  <div class="container">
    <h1>Welcome to Dog Training</h1>
    <p>Train your dog with ease and expertise</p>
    <%= render "components/input"%>
    <div class="buttons_div">
      <button class="banner_button_first">Learn More</button>
      <button class="banner_button_second">Subscribe</button>
    </div>

  </div>
</div>
