// Specific CSS for your home-page

.about_section{
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.about_section_left{
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_section_left h1{
  color: #597E52;
  font-size: 40px!important;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.about_section_right{

}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  margin: 0;
  color: #B99470;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-product .card-product-infos {
  padding: 16px;
}
