// Specific CSS for your home-page
.home_titles{
  color: $green;
  font-size: 40px!important;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.left_sections_parapragh{
  font-family: $body-font;
  font-weight: 600;
}

.about_section{
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.about_section_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@media(max-width: 992px) {
  .about_section{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .home_titles{
    margin-bottom: 5px;
  }
  .about_section_right{
    margin-top: 15px;
  }
  .about_card_image {
  display: none;
  }
}


@media(max-width: 768px) {
  .about_section{
    grid-template-columns: 1fr;
    text-align: center;
    height: 600px;
    align-items: center;
  }
  .home_titles{
    margin-bottom: 5px;
  }
  .about_section_right{
    margin-top: 15px;
  }

  .about_card_image {
  display: none;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  margin: 0;
  color: $brown;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.about_info_card h2 {
  font-weight: bold;
  font-family: $body-font;
}

// Services
.services_section{
  background-color: rgba(217, 217, 217, 0.5);
  padding: 40px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services_section_center{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.services_section_center h1{
 font-size: 40px;
 color: $green;
}

.service_cards{
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
@media(max-width: 992px) {
  .service_cards {
   flex-direction: column;
   overflow: hidden;
  }
}

@media(max-width: 768px) {
  .service_cards{
    flex-direction: column;
    overflow: hidden;
  }
}
// SERVICE CARDS
.card{
  width: 18rem;
  border-radius:10px!important;
  box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  transition: transform 0.3s ease; /* Adding transition effect */
}

@media(max-width: 992px) {
  .card{
    width: 16rem;
  }
}

@media(max-width: 768px) {
  .card{
    width: 16rem;
  }
}
.card:hover {
  transform: scale(1.05); /* Scale the card up slightly on hover */
}

.service_card_link{
  display: flex;
  gap: 10px;
  font-family:$body-font;
  font-size: 12px;
}

.service_card_link:hover{
  text-decoration: underline;
}

.service_card_title{
  font-size: 13px!important;
  font-family: $body-font;
}

.service_card_paragraph{
  font-size: 20px!important;
  font-family: $headers-font;
  color: $green;
}

// blog
.blog_section {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  align-items: center;
}

@media(max-width: 992px) {
  .blog_section {
    grid-template-columns: 1fr;
    overflow: hidden;
  }
}

@media(max-width: 768px) {
  .blog_section {
    grid-template-columns: 1fr;
    height: 700px;
    overflow: hidden;
  }
}

.blog_section_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
}

@media(max-width: 992px) {
  .blog_section_left {
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
}

@media(max-width: 768px) {
  .blog_section_left{
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
}


.blog_section button {
  background-color: $green;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: $body-font;
  font-weight: bold;
  width: 230px;
  box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  transition: transform 0.3s ease; /* Adding transition effect */

}

.blog_section button:hover {
  transform: scale(1.05); /* Scale the card up slightly on hover */
}

// blog section cards

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  border-radius:10px!important;
  transition: transform 0.3s ease; /* Adding transition effect */
}

.card-product:hover{
  transform: scale(1.05); /* Scale the card up slightly on hover */
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// TESTIMONIALS

.testimonials_section{
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(217, 217, 217, 0.5);
  min-height: 400px;
  align-items: center;
}

@media(max-width: 992px) {
  .testimonials_section {
    grid-template-columns: 1fr;
    min-height: 600px;
    text-align: center;
    overflow: hidden;

  }
   .testimonial_cards{
    flex-direction: column;
    justify-content: center;
  }
}

@media(max-width: 768px) {
  .testimonials_section{
    grid-template-columns: 1fr;
    min-height: 600px;
    text-align: center;
    overflow: hidden;
  }
  .testimonial_cards{
    flex-direction: column;
    justify-content: center;
  }
}

.testimonial_cards{
  display: flex;
  gap: 15px;
}

.testimonial_card_header{
  display: flex;
  justify-content: space-between;
}


.testimonial_card_header h2{
  font-family: $body-font;
  font-size: 16px;
}

.stars{
  display: flex;
  color: $brown;
}

.testimonial_card_body{
  font-family: $body-font;
  font-size: 14px;
}

// QUESTIONS SECTION

.questions_section{
  background-color: white;
  padding: 40px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.question_input_box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40rem;
  font-family: $body-font;

}

.input_with_label{
  display: flex;
  flex-direction: column;
  font-family: $body-font;
}

.question_input_box button {
  background-color: $green;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: $body-font;
  font-weight: bold;
  width: 40rem;
  box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  transition: transform 0.3s ease; /* Adding transition effect */
}

.question_input_box button:hover {
  transform: scale(1.05); /* Scale the card up slightly on hover */
}


@media(max-width: 992px) {

}

@media(max-width: 768px) {

  .question_input_box{
    width: 20rem;
  }

  .question_input_box button{
    width: 20rem;
  }
}
