// Specific CSS for your home-page
.home_titles{
  color: #597E52;
  font-size: 40px!important;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.left_sections_parapragh{
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.about_section{
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.about_section_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  margin: 0;
  color: #B99470;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;

}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos h2 {
  font-weight: bold;

}



// Services
.services_section{
  background-color: rgba(217, 217, 217, 0.5);
  padding: 40px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services_section_center{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.services_section_center h1{
 font-size: 40px;
 color: #597E52;
}

.service_cards{
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
// SERVICE CARDS
.card{
  width: 18rem;
  border-radius:10px!important;
  box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  transition: transform 0.3s ease; /* Adding transition effect */
}

.card:hover {
  transform: scale(1.05); /* Scale the card up slightly on hover */
}

.service_card_link{
  display: flex;
  gap: 10px;
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

.service_card_link:hover{
  text-decoration: underline;
}

.service_card_title{
  font-size: 13px!important;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service_card_paragraph{
  font-size: 20px!important;
  font-family: "Merriweather", serif;
  color: #597E52;
}

// blog
.blog_section {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // background-color: #D9D9D9;
  // background-color: rgba(217, 217, 217, 0.5);
  height: 400px;
}

.blog_section_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
}

.blog_section button {
  background-color: #597E52;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 230px;
  box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  transition: transform 0.3s ease; /* Adding transition effect */

}

.blog_section button:hover {
  transform: scale(1.05); /* Scale the card up slightly on hover */
}

// blog section cards

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  border-radius:10px!important;
  transition: transform 0.3s ease; /* Adding transition effect */
}

.card-product:hover{
  transform: scale(1.05); /* Scale the card up slightly on hover */
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// TESTIMONIALS

.testimonials_section{
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(217, 217, 217, 0.5);
  min-height: 400px;
  align-items: center;
}


.testimonial_cards{
  display: flex;
  gap: 15px;
}

.testimonial_card_header{
  display: flex;
  justify-content: space-between;
}


.testimonial_card_header h2{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.stars{
  display: flex;
  color: #B99470;
}

.testimonial_card_body{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}



// QUESTIONS SECTION

.questions_section{
  background-color: white;
  padding: 40px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.question_input_box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40rem;
  font-family: "Open Sans", sans-serif;

}

.input_with_label{
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.question_input_box button {
  background-color: #597E52;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 40rem;
  box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 37px 0px rgba(0,0,0,0.3);
  transition: transform 0.3s ease; /* Adding transition effect */
}

.question_input_box button:hover {
  transform: scale(1.05); /* Scale the card up slightly on hover */
}
