<div class="footer_styling">

  <div>
    <h1>Sean Harris</h1>
      <div>
        <a href=""></a>
        <a href=""></a>
      </div>

    </div>

    <div>
      <a href="">About Us</a>
      <a href="">Services</a>
      <a href="">Blog</a>
    </div>

    <div>
      <a href="">Positive Reinforcement</a>
    </div>


</div>
