<div class="footer_styling">

  <div class="">
    <h1>Sean Harris</h1>
      <div class="social_media">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
      </div>

    </div>

    <div class="column_footer">
      <a href="">About Us</a>
      <a href="">Services</a>
      <a href="">Blog</a>
    </div>

    <div class="column_footer">
      <a href="">Positive Reinforcement</a>

    </div>


</div>
