<div class="navbar">
  <div class="navbar_logo_lettering">
    <img src="assets/logo.webp" />
    <div>
      <span>Good Doggos</span>
    </div>
  </div>

  <div>
    <ul class="link_div">
      <li>
        <a href="">Q&A</A:mail></a>
      </li>

      <li>
        <a href="">About Us</a>
      </li>
      <li>
        <a href="">Training Services</a>
      </li>


      <li>
        <button>
          <a class="button_blog" href="">Blog</a>

        </button>
      </li>
    </ul>
  </div>
</div>
