<div class="navbar">

    <div class="navbar_logo_lettering">
      <img src="assets/logo.webp" />
      <div>
        <span>Good Doggos</span>
      </div>
    </div>

      <div class="media_query_navbar_burger_box">
        <img id="burger" class="burger_navbar" src="/assets/menu.png" alt="">
      </div>


  <div class="links_fullScreen">
    <ul class="link_div">
      <li>
        <a href="">Q&A<></a>
      </li>

      <li>
        <a href="">About Us</a>
      </li>
      <li>
        <a href="">Training Services</a>
      </li>


      <li class="button_navbar">
        <button class="blog_go">
          <a class="button_blog" href="">Blog</a>
          <i class="fa-solid fa-arrow-right-long"></i>
        </button>
      </li>
    </ul>
  </div>

  <div id="burger_links" class="not_clicked">
    <div class="links_clicked_styling">
      <div>
        <i class="fa-solid fa-xmark" id="close_links"></i>
      </div>
      <div>
        <ul>
          <li>Q&A</li>
          <li>About Us</li>
          <li>Training Services</li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var burgerImage = document.getElementById('burger');
    var burgerLinks = document.getElementById('burger_links');

    burgerImage.addEventListener('click', function(event) {
      // Toggle the class of the burger image
      burgerImage.classList.toggle('burger_navbar');
      burgerImage.classList.toggle('no_burger_navbar');

      // Toggle the class of the burger links div
      burgerLinks.classList.toggle('not_clicked');
      burgerLinks.classList.toggle('clicked_yes');

    });
  });



document.addEventListener("DOMContentLoaded", function() {
    var closeLinks = document.getElementById('close_links');
    var burgerImage = document.getElementById('burger');
    var burgerLinks = document.getElementById('burger_links');

    closeLinks.addEventListener('click', function(event) {
      // Toggle the class of the burger image
      burgerImage.classList.toggle('burger_navbar');
      burgerImage.classList.toggle('no_burger_navbar');

      // Toggle the class of the burger links div
      burgerLinks.classList.toggle('not_clicked');
      burgerLinks.classList.toggle('clicked_yes');

    });
  });





</script>
