<div class="navbar">
  <div class="navbar_logo_lettering">
    <img src="assets/logo.webp" />
    <div>
      <span>Good Doggos</span>
    </div>
  </div>

  <div class="links_fullScreen">
    <ul class="link_div">
      <li>
        <a href="">Q&A</A:mail></a>
      </li>

      <li>
        <a href="">About Us</a>
      </li>
      <li>
        <a href="">Training Services</a>
      </li>


      <li class="button_navbar">
        <button class="blog_go">
          <a class="button_blog" href="">Blog</a>
          <i class="fa-solid fa-arrow-right-long"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
