<%= render "shared/navbar" %>
<%= render "components/banner" %>

<div class="about_section">
  <div class="about_section_left">
    <h1 class="home_titles">About Us</h1>
    <p>Learn about our professional dog training services.</p>
  </div>

    <div class="about_section_right">
      <div class="about_info">
        <div>
          <img src="assets/experience.png" />
        </div>
        <div class="card-product-infos">
          <h2>Experience</h2>
          <p>Product description with relevant info only.</p>
        </div>
      </div>


      <div class="about_info">
        <div>
          <img src="assets/certifications.webp" />
        </div>
        <div class="card-product-infos">
          <h2>Certifications</h2>
          <p>Product description with relevant info only.</p>
        </div>
      </div>

      <div class="about_info">
        <div>
          <img src="assets/positivereinforcement.webp" />
        </div>
        <div class="card-product-infos">
          <h2>Positive Reinforcement</h2>
          <p>We use positive reinforcement techniques to encourage good behavior in dogs.</p>
        </div>
      </div>
    </div>
</div>

<div class="blog_section">
  <div class="blog_section_left">
    <h1 class="home_titles">Our Blog</h1>
    <p>A paws-itively insightful resource for dog owners and their furry companions.</p>
    <button>
      <a href="">Pawsome Tips Await!</a>
    </button>
  </div>
  <div class="blog_section_right">
    <card>
    <card>
  </div>

</div>

<div>
  <h1>Testimonials</h1>
</div>


<div>
  <h1>QUESTIONS</h1>
</div>


</div>
