<%= render "shared/navbar" %>
<%= render "components/banner" %>

<div class="about_section">
  <div class="about_section_left">
    <h1 class="home_titles">About Us</h1>
    <p class="left_sections_parapragh">Learn about our professional dog training services.</p>
    <hr class="horizontal_line">
  </div>

    <div class="about_section_right">
      <div class="about_info">
        <div>
          <img class="about_card_image" src="assets/experience.png" />
        </div>
        <div class="about_info_card">
          <h2>Experience</h2>
          <p>Product description with relevant info only.</p>
        </div>
      </div>


      <div class="about_info">
        <div>
          <img class="about_card_image" src="assets/certifications.webp" />
        </div>
        <div class="about_info_card">
          <h2>Certifications</h2>
          <p>Product description with relevant info only.</p>
        </div>
      </div>

      <div class="about_info">
        <div>
          <img class="about_card_image" src="assets/positivereinforcement.webp" />
        </div>
        <div class="about_info_card">
          <h2>Positive Reinforcement</h2>
          <p>We use positive reinforcement techniques to encourage good behavior in dogs.</p>
        </div>
      </div>
    </div>
</div>

    <div class="services_section">
      <div class="services_section_center">
        <h1 class="home_titles">Services</h1>
        <p class="left_sections_parapragh">Choose from a range of dog training services</p>
        <hr class="horizontal_line">
      </div>

      <div class="service_cards">
        <a href="">
          <div class="card">
            <img class="card-img-top" src="/assets/service2.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="service_card_title">Basic Obedience Training</h5>
              <p class="service_card_paragraph">
                6 Weeks
              </p>
              <div class="service_card_link">
                <a href="#" class="service_card_link">Learn More</a>
                <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
        </a>

        <a href="">
          <div class="card">
            <img class="card-img-top" src="/assets/service1.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="service_card_title">Puppy Training</h5>
              <p class="service_card_paragraph">
                12 Weeks
              </p>
              <div class="service_card_link">
                <a href="#" class="service_card_link">Learn More</a>
                <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
        </a>

        <a href="">
          <div class="card">
            <img class="card-img-top" src="/assets/service3.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="service_card_title">Leash Training</h5>
              <p class="service_card_paragraph">
                12 Weeks
              </p>
              <div class="service_card_link">
                <a href="#" class="service_card_link">Learn More</a>
                <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
        </a>

        <a href="">
          <div class="card">
            <img class="card-img-top" src="/assets/service4.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="service_card_title">Behavior Modification</h5>
              <p class="service_card_paragraph">
                14 Weeks
              </p>
              <div class="service_card_link">
                <a href="#" class="service_card_link">Learn More</a>
                <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="blog_section">
      <div class="blog_section_left">
        <a href="">
          <h1 class="home_titles">Our Blog</h1>
        </a>
        <p class="left_sections_parapragh">A paws-itively insightful resource for dog owners and their furry companions.</p>
        <hr class="horizontal_line">
        <button>
          <a href="">Pawsome Tips Await!</a>
        </button>
      </div>

      <div class="blog_section_right">
        <a href="">
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2>Last Blog post title (interactive)</h2>
              <p>Last Blog Post small preview (interactive, only 120 characters)</p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2>Second to last Blog post title (interactive)</h2>
              <p>Second to last Blog Post small preview (interactive, only 120 characters)</p>
            </div>
          </div>
        </a>

      </div>
    </div>

  <div class="testimonials_section">
    <div class="testimonials_section_left">
      <a href="">
        <h1 class="home_titles">Testimonials</h1>
      </a>
      <p class="left_sections_parapragh">Happy client words</p>
      <hr class="horizontal_line">
    </div>
    <div class="testimonial_cards">
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
        <div class="testimonial_card_header">
          <h2 class="card-title">Mafalda Merino</h2>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
          <p class="testimonial_card_body">Thanks to Sean, my dog went from wild to well-behaved! His effective techniques and patient approach made all the difference. </p>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
        <div class="testimonial_card_header">
          <h2 class="card-title">Mafalda Merino</h2>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
          <p class="testimonial_card_body">Thanks to Sean, my dog went from wild to well-behaved! His effective techniques and patient approach made all the difference. </p>
        </div>
      </div>
    </div>
  </div>

<div class="questions_section">
  <div class="services_section_center">
    <h1 class="home_titles">Have a Question?</h1>
    <hr class="horizontal_line">
  </div>

  <div class="question_input_box">
    <div class="input_with_label">
      <label>Name</label>
      <input type="text" placeholder="Type here" class="input input-bordered" />
    </div>
    <div class="input_with_label">
      <label>Email</label>
      <input type="text" placeholder="Type here" class="input input-bordered" />
    </div>
    <button>Let us help you!</button>


  </div>
</div>
