<%= render "shared/navbar" %>
<%= render "components/banner" %>

<div class="about_section">

  <div class="about_section_left">
    <h1>About Us</h1>
    <p>Learn about our professional dog training services.</p>
  </div>

    <div class="about_section_right">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Experience</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Certifications</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>

      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Positive Reinforcement</h2>
          <p> We use positive reinforcement techniques to encourage good behavior in dogs.</p>
        </div>
      </div>


      </div>

  </div>


</div>
