<div class="show_post_styling">
  <div class="post_styling">
    <h1><%= @post.title %></h1>
    <p><%= @post.content %></p>
  </div>
  <div class="action_links">
    <div>
      <%= link_to post_path(@post), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    <div>
      <%= link_to edit_post_path(@post) do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>
  </div>
</div>
