.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 40px;
}

.banner p {
  font-size: 16px;
  color: white;
  opacity: .7;
  margin-bottom: 1rem;
  font-weight:500
}

.buttons_div{
  padding: 10px;
}

.banner_button_first{
  border: solid;
  border-radius: 5px;
  background-color: white;
  width: 160px;
  height: 48px;
}

.banner_button_first:hover{
  border: none;
  background-color: #597E52;
  color: white;
}

.banner_button_second{
  border: none;
  border-radius: 5px;
  background-color: #597E52;
  color: white;
  width: 160px;
  height: 48px;
}

.banner_button_second:hover{
  border: solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}
