.footer_styling{
  display: 1fr 1fr 1fr;
  background-color: #597E52;
  color: white;
}



// #footer_styling h1{
//   font-size: 40px!important;
// }


.column_footer{
  display: flex;
  flex-direction: column;
}
