.navbar{
  padding:0 20px;
  background-color: #F4EEE0;
}


.navbar_logo_lettering{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

}

.link_div{
  display: flex;
  gap: 20px;
}


li a {
  font-family: "Open Sans", sans-serif;
  color: #597E52;
  font-size: 15px!important;
  font-weight: 600;
}


span {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: #597E52;

}

.button_blog{
  border: solid back;
  border-radius: 10px;
}
