.navbar{
  padding:0 20px!important;
}

.navbar_logo_lettering{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link_div{
  display: flex;
  gap: 20px;
  align-items: center;
}

li a {
  font-family: $body-font;
  font-size: 15px!important;
  color: $green;
}

span {
  color: $green;
  font-family: $headers-font;
  font-size: 18px;
}

.blog_go a {
  margin-right: 9px;
}

.button_navbar{
  border: solid 1.5px $black;
  border-radius: 10px;
  padding: 5px 20px;
  font-family: $body-font;
  font-size: 15px!important;
  color: $green;
}

.about_info{
  display: flex;
  align-items:center;
  gap: 20px;
  margin-bottom: 40px;
}

.about_info img {
  width: 70px;
}



// MEDIA QUERIES
@media (max-width: 992px) {
  .links_fullScreen{
    display: none;
  }
}
